#beats-title{
    color: rgb(34, 255, 49);
}

#beats-price{
    color: rgb(34, 255, 49);
}

#beats-title-input-box{
    background-color: rgb(217, 217, 217);

}

#beats-price-input-box {
    background-color: rgb(217, 217, 217);
}

.beat-card-container{
    /* display: flex;
    justify-content: center; */
    width: 44%;
    padding: 15px;
    background-color: rgb(57, 54, 84);
    border-radius: 13px;
}


.beat-align-cards{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 15px;
}

.beat-card-container img {
    width: 250px;
    height: 250px;
    border-radius: 13px;
    object-fit: contain;
    background-color: #000000; 
    margin: auto;
    display: block;
}




.beat-card-container button {
    font-weight: 500;
    font-size: 18px;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 13px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;

}

.beat-card-container button:hover {
    background-color: rgb(179, 179, 179);
    transform: scale(1.05); /* Optional: Slightly enlarge the button on hover */
    display:flex;
    cursor: pointer;
}


