.put-middle{
    margin-left: 500px;
}

#beats-title{
    color: rgb(34, 255, 49);
}

#beats-price{
    color: rgb(34, 255, 49);
}

#beats-title-input-box{
    background-color: rgb(217, 217, 217);

}

#beats-price-input-box {
    background-color: rgb(217, 217, 217);
}